@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: "CeliaGarcia";
  src: url("/fonts/celia_garcia/Celia Garcia.ttf");
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 625px;
    margin: auto;
  }
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-image: url("/bg.png");
  background-color: rgba(0, 0, 0, 0.11);
  font-family: "CeliaGarcia", sans-serif;
}

h1 {
  font-size: 54px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 24px;
}

header {
  padding: 20px 0;
}

@media screen and (max-width: 767px) {
  header .header-row .info-box {
    order: 2;
  }
}

header a {
  text-decoration: none;
  color: #000;
}

header a h1 {
  margin: 30px auto;
}

header .start-button.disabled {
  opacity: 0.8;
  cursor: auto;
}

/* For Board, as it contains dynamic classes */

.grid {
  display: grid;
  gap: 15px;
  width: 500px;
  height: 500px;
  margin: 20px auto 40px auto;
  padding: 25px;
  border-radius: 10px;
  background-color: rgba(0, 119, 24, 0.29);
  position: relative;
}

@media screen and (max-width: 767px) {
  .grid {
    width: 350px;
    height: 350px;
  }
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  background-color: rgba(255, 255, 165, 1);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.tile.empty {
  background-color: rgba(0, 0, 0, 0.11);
  cursor: default;
}

.grid .grid-overlay {
  display: none;
}

.grid.disabled .grid-overlay,
.grid.paused .grid-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.66);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.grid.disabled .grid-overlay a,
.grid.paused .grid-overlay a {
  font-size: 104px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  line-height: normal;
}

.grid.disabled .grid-overlay a:hover,
.grid.paused .grid-overlay a:hover {
  opacity: 0.8;
}

.grid a.not-solvable {
  cursor: auto !important;
}

.grid a.not-solvable:hover {
  opacity: 1 !important;
}

/* Board css ends here */

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.23);
  padding: 30px;
}
